<!DOCTYPE html>
<html>
    <head>
        <title>Ninjapedia</title>
    </head>
    <body>
        <h2>Ninja 101</h2>
        <p>Ninjas are probably one of the coolest professions out there</p>
        <p>They can do multiple flips</p>
        <p>break wooden planks with kicks</p>
        <p>and they all own a few ninja stars</p>
        <form action='/dojos/news'>
            <button type='button'>whats new at the dojo?</button>
        </form>
        <form action='/'>
            <button type='button'>Home</button>
        </form>
    </body>
</html>